body{
    margin: 0;
    font-family: tw cen mt;
}

.jumbotron{
    background-image: url(bg.jpg);
    background-size: cover;
    height: 400px;
}

.btn-warnimg{
    background-color: #e3ab00;
    border-radius: 10px;
    box-shadow: 0 0 5px 0 solid black;
}
.btn-warning:hover{
    background-color: #755800;
}

.footer{
    line-height: 50px;
    margin-bottom: 0;
}

.container p{
    font-size: 18px;
}